<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="button" :value="num" @click="num++">
    <br>
    姓: <input type="text" v-model="lastName">
    <br>
    名: <input type="text" v-model="firstName">
    <br>
    全名: {{ fullName }} {{ fullNameMethod() }}
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.9/vue.global.min.js' integrity='sha512-01DXK8J/RTf+INWJaGSa1a8ePsny+wTV63r5e+qcW4Gx7cgYKeX7uNvJminP4WvBthCi03aWdTmGLcZk/DTKKQ==' crossorigin='anonymous'></script>
  <script>
    Vue.createApp({
      data () {
        return {
          firstName: '',
          lastName: '',
          num: 0
        }
      },
      methods: {
        fullNameMethod () {
          console.log('method 更新')
          return this.lastName + this.firstName
        }
      },
      // 計算屬性，動態的資料，當用到的資料變動時會執行 function 算出新的值
      computed: {
        fullName () {
          console.log('fullName 更新')
          return this.lastName + this.firstName
        }
      },
      // 當資料變更時執行 function
      watch: {
        // 把資料名稱當作 function 名稱
        firstName (newValue, oldValue) {
          console.log(`firstName: ${oldValue} --> ${newValue}`)
        }
      }
    }).mount('#app')
  </script>
</body>
</html>